/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: 'archiveregular';
    src: url('webfonts/archive-webfont.eot');
    src: url('webfonts/archive-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/archive-webfont.woff') format('woff'),
         url('webfonts/archive-webfont.ttf') format('truetype'),
         url('webfonts/archive-webfont.svg#archiveregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('webfonts/raleway-bold-webfont.eot');
    src: url('webfonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/raleway-bold-webfont.woff') format('woff'),
         url('webfonts/raleway-bold-webfont.ttf') format('truetype'),
         url('webfonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('webfonts/raleway-medium-webfont.eot');
    src: url('webfonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/raleway-medium-webfont.woff') format('woff'),
         url('webfonts/raleway-medium-webfont.ttf') format('truetype'),
         url('webfonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('webfonts/raleway-regular-webfont.eot');
    src: url('webfonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/raleway-regular-webfont.woff') format('woff'),
         url('webfonts/raleway-regular-webfont.ttf') format('truetype'),
         url('webfonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('webfonts/raleway-light-webfont.eot');
    src: url('webfonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/raleway-light-webfont.woff') format('woff'),
         url('webfonts/raleway-light-webfont.ttf') format('truetype'),
         url('webfonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
	height:100%;
    margin:0;
    padding:0 10 0 10;
}

body {
	background-attachment: fixed;
	background-image: linear-gradient(bottom, rgb(218,109,31) 0%, rgb(248,243,100) 50%, rgb(58,202,238) 100%);
	background-image: -o-linear-gradient(bottom, rgb(218,109,31) 0%, rgb(248,243,100) 50%, rgb(58,202,238) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(218,109,31) 0%, rgb(248,243,100) 50%, rgb(58,202,238) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(218,109,31) 0%, rgb(248,243,100) 50%, rgb(58,202,238) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(218,109,31) 0%, rgb(248,243,100) 50%, rgb(58,202,238) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(218,109,31)),
		color-stop(0.5, rgb(248,243,100)),
		color-stop(1, rgb(58,202,238))
	);
	background-repeat: no-repeat;
	/*height:100%;*/
    margin:0;
    min-height:100%;
    padding:0 10 0 10;
    position:relative;
}

.location {
	background-image: linear-gradient(bottom, rgb(231,118,37) 100%, rgb(248,228,100) 0%);
	background-image: -o-linear-gradient(bottom, rgb(231,118,37) 100%, rgb(248,228,100) 0%);
	background-image: -moz-linear-gradient(bottom, rgb(231,118,37) 100%, rgb(248,228,100) 0%);
	background-image: -webkit-linear-gradient(bottom, rgb(231,118,37) 100%, rgb(248,228,100) 0%);
	background-image: -ms-linear-gradient(bottom, rgb(231,118,37) 100%, rgb(248,228,100) 0%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, rgb(231,118,37)),
		color-stop(0, rgb(248,228,100))
	);
	background-repeat: no-repeat;
	height:100%;
	margin:0;
}

.saved-locations {
	background-image: linear-gradient(bottom, rgb(217,63,163) 0%, rgb(34,175,170) 50%, rgb(155,79,225) 100%);
	background-image: -o-linear-gradient(bottom, rgb(217,63,163) 0%, rgb(34,175,170) 50%, rgb(155,79,225) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(217,63,163) 0%, rgb(34,175,170) 50%, rgb(155,79,225) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(217,63,163) 0%, rgb(34,175,170) 50%, rgb(155,79,225) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(217,63,163) 0%, rgb(34,175,170) 50%, rgb(155,79,225) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(217,63,163)),
		color-stop(0.5, rgb(34,175,170)),
		color-stop(1, rgb(155,79,225))
	);
	background-repeat:no-repeat;
	height:100%;
	margin:0;
}

.alert {
	background-image: linear-gradient(bottom, rgb(230,59,7) 100%, rgb(234,138,3) 50%, rgb(191,84,13) 0%);
	background-image: -o-linear-gradient(bottom, rgb(230,59,7) 100%, rgb(234,138,3) 50%, rgb(191,84,13) 0%);
	background-image: -moz-linear-gradient(bottom, rgb(230,59,7) 100%, rgb(234,138,3) 50%, rgb(191,84,13) 0%);
	background-image: -webkit-linear-gradient(bottom, rgb(230,59,7) 100%, rgb(234,138,3) 50%, rgb(191,84,13) 0%);
	background-image: -ms-linear-gradient(bottom, rgb(230,59,7) 100%, rgb(234,138,3) 50%, rgb(191,84,13) 0%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, rgb(230,59,7)),
		color-stop(0.5, rgb(234,138,3)),
		color-stop(0, rgb(191,84,13))
	);
	background-repeat:no-repeat;
	height:100%;
	margin:0;
}

h2 {
	color:#FFF;
}

.title-weather {
	color:#FFF;
	font-family:'ralewaylight';
	font-size:30px;
}

.title-now {
	color:#FFF;
	font-family:'ralewaybold';
	font-size:30px;
}

.settings {
	position:absolute;
	right:20px;
}

.marker {
	position:absolute;
	right:65px;
}

.zipcode-form {
	position:absolute;
	top:100px;
	left:40px;
}

.subtitle {
	color:#FFF;
	font-family:'archiveregular';
	font-size:18px;
	letter-spacing:1px;
	text-shadow:1px 1px 2px #C0C0C0;
}

form {
	margin: 0 0 20px;
}

fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}

label,
input,
button,
select,
textarea {
	font-size:14px;
	font-weight:normal;
	line-height:20px;
}

label {
	display:block;
	margin-bottom:5px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	border:2px solid #0D4A53;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
	border-radius:10px;
	color:#FFF;
	display:inline-block;
	font-family:'ralewayregular';
	font-size:14px;
	height:20px;
	line-height:20px;
	margin-bottom:20px;
	padding:4px 10px;
	vertical-align:middle;
	width:275px;
}

.btn {
	background-color:#33a4b5;
	background-image: linear-gradient(top, #33a4b5, #177280);
	background-image: -o-linear-gradient(top, #33a4b5, #177280);
	background-image: -moz-linear-gradient(top, #33a4b5, #177280);
	background-image: -webkit-linear-gradient(top, #33a4b5, #177280);
	background-image: -ms-linear-gradient(top, #33a4b5, #177280);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #33a4b5), color-stop(100%, #177280));
	border:2px solid #0d4a53; 
		-webkit-border-radius:10px; 
		-moz-border-radius:10px;
	border-radius:10px;
	color:#FFF;
	font-family:'archiveregular';
	height:32px;
	letter-spacing:1px;
	line-height:20px;
	margin-bottom:10px;
	padding:4px 6px;
	text-align:center;
	text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
	vertical-align:middle;
	width:300px;
}

.city {
	color:#FFF;
	font-family:'ralewaylight';
	font-size:25px;
	margin-top:10px;
	margin-left:10px;
	/*text-shadow:1px 1px 1px #DADADA;*/
}

.current-weather {
	/*border:1px solid #000;*/
	height:100px;
	margin:20px 10px 10px 20px;
	position:absolute;
	text-align:center;
	width:130px;
}

.current-temp {
	/*border:1px solid #000;*/
	height:100px;
	margin:20px 10px 10px 10px;
	position:absolute;
	right:40px;
	text-align:center;
	width:130px;
}

.hi-temp {
	/*border:1px solid #000;*/
	height:75px;
	margin:20px 10px 10px 20px;
	position:relative;
	text-align:center;
	top:130px;
	width:130px;
}

.lo-temp {
	/*border:1px solid #000;*/
	height:75px;
	margin:20px 10px 10px 20px;
	position:relative;
	text-align:center;
	top:140px;
	width:130px;
}

.sunrise {
	/*border:1px solid #000;*/
	height:75px;
	margin:20px 10px 10px 20px;
	position:relative;
	text-align:center;
	top:150px;
	width:130px;
}

.precip {
	/*border:1px solid #000;*/
	height:50px;
	margin:20px 10px 10px 10px;
	position:absolute;
	right:40px;
	text-align:center;
	top:215px;
	width:130px;
}

.wind {
	/*border:1px solid #000;*/
	height:50px;
	margin:20px 10px 10px 10px;
	position:absolute;
	right:40px;
	text-align:center;
	top:285px;
	width:130px;
}

.humidity {
	/*border:1px solid #000;*/
	height:50px;
	margin:20px 10px 10px 10px;
	position:absolute;
	right:40px;
	text-align:center;
	top:355px;
	width:130px;
}

.sunset {
	/*border:1px solid #000;*/
	height:50px;
	margin:20px 10px 10px 10px;
	position:absolute;
	right:40px;
	text-align:center;
	top:425px;
	width:130px;
}

.temp-num {
	color:#FFF;
	font-family:'archiveregular';
	font-size:85px;
	line-height:77%;
}

.hi-num {
	color:#FFF;
	font-family:'archiveregular';
	font-size:50px;
	line-height:75%;
}

.precip-num {
	color:#FFF;
	font-family:'archiveregular';
	font-size:25px;
	line-height:75%;
}

.wind-num {
	color:#FFF;
	font-family:'archiveregular';
	font-size:25px;
	line-height:70%;
}

.humidity-num {
	color:#FFF;
	font-family:'archiveregular';
	font-size:25px;
	line-height:75%;
}

.lo-num {
	color:#FFF;
	font-family:'archiveregular';
	font-size:50px;
	line-height:75%;
}

.sunrise-time {
	color:#FFF;
	font-family:'archiveregular';
	font-size:25px;
	line-height:75%;
}

.sunset-time {
	color:#FFF;
	font-family:'archiveregular';
	font-size:25px;
	line-height:75%;
}

.am-pm {
	color:#FFF;
	font-family:'archiveregular';
	font-size:17px;
}

.desc {
	color:#474747;
	font-family:'ralewayregular';
	font-size:14px;
	text-align:left;
}

.saved-loc {
	/*border:1px solid #000;*/
	height:75px;
	margin:20px 10px 10px 5px;
	position:relative;
	text-align:left;
	width:350px;
}

.saved-city {
	color:#FFF;
	font-family:'ralewayregular';
	font-size:25px;
	line-height:5%;
}

.saved-temp {
	color:#FFF;
	font-family:'archiveregular';
	font-size:25px;
	line-height:5%;
}

.saved-hi-lo {
	color:#FFF;
	font-family:'archiveregular';
	font-size:20px;
	line-height:5%;
}

.saved-weather {
	position:absolute;
	right:5px;
	top:-5px;
}

.forecast {
	/*border:1px solid #000;*/
	height:75px;
	margin:-10px 10px 10px 5px;
	position:relative;
	text-align:left;
	width:350px;
}

.categoryA {
	color:#474747;
	font-family:'ralewayregular';
	font-size:12px;
	margin-bottom:-10px;
	margin-left:4px;
	text-align:left;
}

.categoryB {
	color:#474747;
	font-family:'ralewayregular';
	font-size:12px;
	margin-bottom:-10px;
	margin-left:154px;
	text-align:left;
}

.categoryC {
	color:#474747;
	font-family:'ralewayregular';
	font-size:12px;
	margin-bottom:-10px;
	margin-left:84px;
	text-align:left;
}

.forecast-info {
	color:#FFF;
	font-family:'archiveregular';
	font-size:20px;
	margin-top:25px;
}

.forecast-cloud {
	margin-left:40px;
}

.forecast-hilo {
	margin-left:50px;
}

.forecast-precip {
	margin-left:45px;
}

.day {
	color:#474747;
	font-family:'ralewayregular';
	font-size:11px;
	margin-bottom:-10px;
	margin-top:-2px;
	text-align:left;
}

.footer {
	/*background:#000;*/
	bottom:0;
	left:0px;
	height:50px;
	position:fixed;
	width:100%;
}

.footer-btn {
	background-color:#33a4b5;
	background-image: linear-gradient(top, #33a4b5, #177280);
	background-image: -o-linear-gradient(top, #33a4b5, #177280);
	background-image: -moz-linear-gradient(top, #33a4b5, #177280);
	background-image: -webkit-linear-gradient(top, #33a4b5, #177280);
	background-image: -ms-linear-gradient(top, #33a4b5, #177280);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #33a4b5), color-stop(100%, #177280));
	border:1px solid #0d4a53; 
	color:#FFF;
	font-family:'ralewayregular';
	font-size:20px;
	float:left;
	height:20px;
	letter-spacing:1px;
	line-height:20px;
	padding:8px 6px;
	text-align:center;
	vertical-align:middle;
	width:119px;
}

.footer ul {
	bottom:0px;
	left:0px;
	list-style-type: none;
	margin:0px 0px 0px 0px;
	padding:0px;
	position:fixed;
}

.saved-loc a:link, visited, hover, active {
	text-decoration:none;
}

.alert-title {
	color:#FFF;
	font-family:'archiveregular';
	font-size:25px;
	margin-top:15px;
	text-align:center;
}

.alert-info {
	color:#FFF;
	font-family:'archiveregular';
	font-size:15px;
	letter-spacing:1px;
	line-height:1.5;
	margin-top:15px;
	text-align:center;
}

.alert-subtitle {
	color:#FFF;
	font-family:'archiveregular';
	font-size:15px;
	letter-spacing:1px;
	margin-top:15px;
	text-align:left;
}

.alert-desc {
	color:#FFF;
	font-family:'ralewayregular';
	font-size:15px;
	letter-spacing:1px;
	margin-top:5px;
	text-align:left;
}

.settings-subtitle {
	color:#FFF;
	font-family:'archiveregular';
	font-size:15px;
	letter-spacing:1px;
	margin-left:10px;
	margin-top:20px;
	text-align:left;
}

.settings-subtitle2 {
	color:#FFF;
	font-family:'archiveregular';
	font-size:15px;
	letter-spacing:1px;
	margin-left:10px;
	margin-top:40px;
	text-align:left;
}

.settings-desc {
	color:#FFF;
	font-family:'ralewayregular';
	font-size:20px;
	letter-spacing:1px;
	margin-left:50px;
	position:relative;
	top:-50px;
}

.favorite {
	/*border:1px solid #000;*/
	float:right;
	height:30px;
	margin:10px 10px 10px 5px;
	position:relative;
	right:115px;
	text-align:left;
	vertical-align:center;
	width:30px;
	top:-111px;
}

.delete-loc {
	/*border:1px solid #000;*/
	height:30px;
	margin:10px 10px 15px 5px;
	position:relative;
	text-align:left;
	vertical-align:center;
	width:350px;
}

.delete-btn {
	background-color:#33a4b5;
	background-image: linear-gradient(top, #33a4b5, #177280);
	background-image: -o-linear-gradient(top, #33a4b5, #177280);
	background-image: -moz-linear-gradient(top, #33a4b5, #177280);
	background-image: -webkit-linear-gradient(top, #33a4b5, #177280);
	background-image: -ms-linear-gradient(top, #33a4b5, #177280);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #33a4b5), color-stop(100%, #177280));
	border:2px solid #0d4a53; 
		-webkit-border-radius:10px; 
		-moz-border-radius:10px;
	border-radius:30px;
	color:#FFF;
	font-family:'archiveregular';
	font-size:30px;
	height:20px;
	letter-spacing:1px;
	line-height:20px;
	margin-bottom:10px;
	padding:4px 6px;
	text-align:center;
	text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
	vertical-align:middle;
	width:17px;
}

.units {
	/*border:1px solid #000;*/
	height:50px;
	margin:10px 10px 10px 5px;
	position:relative;
	text-align:left;
	vertical-align:center;
	width:350px;
}

.units-subtitle {
	color:#FFF;
	font-family:'archiveregular';
	font-size:15px;
	letter-spacing:1px;
	margin-left:20px;
	margin-top:-20px;
	text-align:left;
}

.units-desc {
	color:#FFF;
	font-family:'ralewayregular';
	font-size:15px;
	letter-spacing:1px;
	margin-left:20px;
	position:relative;
	top:-15px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
